/* Styles go here */

.box-container {
	min-height: 200px;
}

.box-item {
	width: 100%;
	z-index: 1000;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    overflow: hidden;
}

.panel-title{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    line-height: 1.5em;
}

.panel-default>.panel-heading{
        background-color: aquamarine !important;
}

.add-work input{
    font-family: 'Eczar', serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}